extends base.pug
include mixins/video

block content 
    h2 안녕하세요 여기는 재밌는 영상을 볼 수 있어요!
    ul
        each video in videos 
            +video(video)
        else 
            li Sorry nothing found.
