extends base.pug

block content 
    h1 This is video Upload
    form(method="POST", action="/videos/upload")
        input(name="title",placeholder="Title", required, type="text")
        input(type="submit", value="Upload Video")