extends base.pug

block content 
    video(src="/"+video.fileUrl,width="500", height="500", controls)
    div
        p=video.description
        small=video.createdAt
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video
    //relative url -> 지금 경로에서 + /edit로 간다는 의미 => localhost:4000/videos/1/edit
    //absolute url -> http://localhost:4000/edit 