extends ../base

block content
    form(method="post")
        input(placeholder="old password")
        input(placeholder="New password")
        input(placeholder="old password Confirmation")
        input(type = "submit" value="Change Password")
